services:
  api:
    build:
      context: .
      target: api
    ports:
      - "13000:3000"
    env_file: ".env"
    volumes:
      - ./config:/app/config:ro
    networks:
      - commu-ng-network

  console:
    build:
      context: .
      target: console
      args:
        VITE_DOMAIN: commu.ng
        VITE_API_BASE_URL: https://api.commu.ng
        VITE_SENTRY_DSN: https://a26d4d096d25426361e90c9d33458658@o4504757655764992.ingest.us.sentry.io/4510068295860224
    ports:
      - "13001:3000"
    depends_on:
      - api
    networks:
      - commu-ng-network

  app:
    build:
      context: .
      target: app
      args:
        VITE_DOMAIN: limeburst.net
        VITE_API_BASE_URL: https://api.commu.ng
        VITE_SENTRY_DSN: https://b8b067bcb03256211d74251f057afc78@o4504757655764992.ingest.us.sentry.io/4510068303069184
    ports:
      - "13002:3000"
    depends_on:
      - api
    networks:
      - commu-ng-network

networks:
  commu-ng-network:
    driver: bridge
